.content {
  font-family: 'Arial', sans-serif; 
}

.content h2 {
    font-family: 'Oswald', serif;
    font-weight: bold;
}

#contact {
  text-align: center;
}

.social-image {
  width:  200px;
}

.block {
  padding-top: 100px;
}

#profile-photo {
  top: 20%;
  left: 10%;
  background: rgba(0, 0, 0, 0.0);
}